/*STYLE MENU*/

#navbarSupportedContent{
	font-family: 'Dosis', sans-serif;
	font-weight: medium;
	font-size: 25px;
}

#navbarSupportedContent a{
	color: #133447;
	padding-top: 0;
	padding-bottom: 0;
}

#navbarSupportedContent ul {
	width : 100%;
}

.custom-toggler.navbar-toggler {
    border-color: withe;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



/*------------------------------------------------*/
/*------------------------------------------------*/
/*Style Header*/
.header {
	font-family: Arial;
}

.my-primary{
  	color: white ;
  	background-color: #133447;
}

.header__right_social{
	width: 30px;
	padding-top: 1vh;
}

#header__left__address{
	color:black;
	text-align: right;
	box-shadow: 1px 1px 12px #555;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-size: 12px;
}

#header__left__address p{
	margin-bottom: 0;
	padding : 15px;
}

#header__left{
	display: flex;
  	align-items: center;

}



/*------------------------------------------------*/
/*------------------------------------------------*/
/* INDEX MAIN STYLE */
/*------------------------------------------------*/
/*------------------------------------------------*/
/*MAIN TOP*/

#main__top{
    height: 130vh;
	background-image: url('/images/front/fondbanniere.png');
	background-repeat: no-repeat;
	background-size: cover;
}
/*------------------------------------------------*/

#main__top__linkService{
	margin-top: 4vh;
}

#main__top__linkService{ 
	 background: rgba(255, 255, 255, 0.3);
}

#main__top__linkService h1{
	font-family: 'Futura-CondensedMedium';
	text-align: center;
	font-size: 32px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#main__top__linkService img{
	width : 70px;
	text-align: center;
}

#main__top__linkService p{
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	text-align: center;
}

#main__top__linkService .card{
	background: none;
	border: none;
}

#main__top__linkService__card{
	margin-top: 3vh;
	margin-bottom: 3vh;
}

#img_bc{
	background-image: url('/images/front/bilan.png');
	height: 110px;
	width: 100px;
	background-repeat: no-repeat;
	transition-property: background-image; 
    transition-duration: 1s;
}

#img_bc:hover{
	background-image: url('/images/front/bilanhover.png');
}

#img_vae{
	background-image: url('/images/front/vae.png');
	height: 110px;
	width: 100px;
	background-repeat: no-repeat;
	transition-property: background-image; 
    transition-duration: 1s;
}

#img_vae:hover{
	background-image: url('/images/front/vaehover.png');
}

#img_retraite{
	background-image: url('/images/front/retraite.png');
	height: 110px;
	width: 100px;
	background-repeat: no-repeat;
	transition-property: background-image; 
    transition-duration: 1s;
}

#img_retraite:hover{
	background-image: url('/images/front/retraitehover.png');
}
/*------------------------------------------------*/

#main__presentation{
	text-align: center;
	font-family: arial;
	box-shadow: 1px 1px 12px #555;
	margin-top: 3vh;
	background-color: #fff;
}

hr{
  width: 70%;
  height: 1px;
  background-color: black;
  border: none;
  margin-top: 1vh;
}

#main__presentation h2{
	margin-top: 3vh;
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
}

.my-secondary{
  	color: white ;
  	background-color: #E29C46;
  	margin-bottom: 2vh;
  	margin-top: 2vh;
}

#main__presentation p{
	font-size: 15px;
	margin-top: 5vh;
}

/*------------------------------------------------*/

#main__top__bottom__manager{
	box-shadow: 1px 1px 12px #555;
	margin-top: 3vh;
	background-color: #fff;
}


#main__top__bottom__manager img{
	width: 200px;
	height: 200px;
}

#main__top__bottom__manager p{
	font-size: 12px;
	margin-top: 4vh;
	margin: 1vw;
}

#main__top__bottom__manager h3{
	text-align: center;
	margin-top: 2vh;
	font-size: 15px;
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
}

/*------------------------------------------------*/

#carousel_actualities .card{
	background-color: #B9C894;
	color: white;
	margin-top: 3vh;
	height: 270px;
}

/*FIN MAIN TOP*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/* MAIN MIDDLE */
#main__middle__top{
	background-color: #315258;
	padding-top: 3vh;
}

#main__middle__top figcaption{
	color: white;
	text-align: center;
	font-size: 15px;
}

.counter{
	font-size : 30px;
	font-weight: bold;
}
/*------------------------------------------------*/
